.grid_1 { width: 9.875% }
.grid_2 { width: 22.75% }
.grid_3 { width: 35.62% }
.grid_4 { width: 48.5%; }
.grid_5 { width: 61.37%; }
.grid_6 { width: 74.25%; }
.grid_7 { width: 87.12%; }
.grid_8 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8 {
	margin: 0 3% 10px 0;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}


.grid-container{
  width: 90%;
  max-width: 1200px;
	margin: auto;
}


.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}