
body{
	margin: 0;
	parding: 0;
	background: #1b1f1d;
}
#container {
	background: #1b1f1d url(http://steamcommunity-a.akamaihd.net/public/images/sharedfiles/ig/widget_bg.jpg) top left no-repeat;
	font-family: arial, tahoma;
	font-size: 11px;
	width: 336px;
	height: 137px;
	padding: 10px 9px 0 9px;
	color: #828282;
	cursor: pointer;
}

a, a:hover, a:visited {
	color: #828282;
	text-decoration: none;
}

.img_holder {
	padding: 1px;
	background: #495828;
	background: rgba(71,86,39,0.7);
	border-radius: 1px;
	width: 114px;
	height: 114px;
}

.img_holder > img {
	border: none;
	width: inherit;
}

.votefor {
	position: absolute;
	top: 50px;
	left: 135px;
	text-transform: uppercase;
}
.gamename {
	position: absolute;
	top: 68px;
	left: 135px;
	color: #fff;
	font-size: 17px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
	width: 200px;
	font-family: arial narrow, arial, tahoma;
}
.tag {
	position: absolute;
	top: 94px;
	left: 135px;

}