#takipi-header {
	background-color: #fbfbfb;
	border-bottom: 1px solid #ededed;
	margin: 0px;
	padding: 0px;
	font-family:'Exo 2', sans-serif;
}
#takipi-header .navigationHolder {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:1200px;
  height:44px;
  padding:5px 15px;
  text-align:justify;
  
  -webkit-box-sizing:	border-box;
  -moz-box-sizing:	border-box;
  box-sizing:			border-box;
}
#takipi-header .navigationHolder:after {
  content:"";
  display:inline-block;
  width:100%;
}
#takipi-header a.takipilogo {
  display:inline-block;
  vertical-align:middle;
  color:#51B2E9;
  font-weight:500;
  font-size:30px;
  line-height:33px;
  text-transform:capitalize;
}
#takipi-header a.takipilogo:hover {
  text-decoration:none;
}
#takipi-header .navigation .internal {
  position:relative;
}
#takipi-header .navigation .internal .navHolder {
  display:inline-block;
  vertical-align:middle;
  margin-left:15px;
}
#nav {
  display:inline-block;
  vertical-align:middle;
  list-style:none;
  margin:0;
  padding:0 117px 0 0;
  font-size:18px;
  line-height:22px;
  font-weight:300;
}
#nav li {
  display:inline-block;
  vertical-align:middle;
  padding:0px 10px;
}
#nav li a {
  color:#323A41;
}
#nav li a:hover {
  text-decoration:underline;
}
#takipi-header .userHolder {
  display:inline-block;
  vertical-align:middle;
}
#takipi-header .userHolder a.navBtn {
  display:inline-block;
  vertical-align:middle;
  padding:3px 7px;
  font-family:Arial, sans-serif;
  font-size:16px;
  color:#FFF;
  background-color:#616A73;
  
  -moz-border-radius:		2px;
  -webkit-border-radius:	2px;
  border-radius:			2px;
}
#takipi-header .userHolder a.navBtn:hover {
  opacity:0.8;
}
#takipi-header .userHolder a.enterApp {
  margin-left:10px;
}
#takipi-header .userHolder .navText {
  display:inline-block;
  vertical-align:middle;
  margin-left:13px;
  font-family:Arial, sans-serif;
  font-size:14px;
  color:#323A41;
}
#takipi-header .userHolder .navText.hello {
  max-width:150px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
#takipi-header .userHolder a.login:hover {
  text-decoration:underline;
}
.navigation .requestDemo {
  position:absolute;
  right:0px;
  top:45px;
  font-family:'Exo 2', Arial;
  font-size:13px;
  color:#FFF;
  background-color:#3DB878;
  
  -moz-border-radius:		0px 0px 3px 3px;
  -webkit-border-radius:	0px 0px 3px 3px;
  border-radius:			0px 0px 3px 3px;
}
.navigation .requestDemo .stage {
  padding:10px;
  position:relative;
}
.navigation .requestDemo .stage .text {
  width:100px;
  text-align:center;
}
.navigation .requestDemo .stage.request {
  cursor:pointer;
}
.navigation .requestDemo .stage.email .header {
  padding-bottom:3px;
}
.navigation .requestDemo .stage.email form {
  background-color:#FFF;
  border:1px solid #CCC;
}
.navigation .requestDemo .stage.email form input {
  width:200px;
  padding:2px;
  outline:none;
  border:none;
}
.navigation .requestDemo .stage.email form a {
  padding:2px 4px;
  color:#FFF;
  background-color:#68AFC4;
}
.navigation .requestDemo .stage.email form a:hover {
  background-color:#5B98AB;
}
.navigation .requestDemo .stage.requested span.img {
  position:absolute;
  top:9px;
  left:4px;
  display:inline-block;
  width:16px;
  height:16px;
}
.navigation .requestDemo[stage='request'] .stage.email,
.navigation .requestDemo[stage='request'] .stage.requested,
.navigation .requestDemo[stage='email'] .stage.request,
.navigation .requestDemo[stage='email'] .stage.requested,
.navigation .requestDemo[stage='requested'] .stage.request,
.navigation .requestDemo[stage='requested'] .stage.email {
  display:none;
}
/*
#nav-mobile {
	margin-left:8px;
	list-style:none;
	font:13px/16px Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,.7);
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	background-color: #fbfbfb;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav-mobile li {
	float:left;
	padding-top:2px;
	padding-left:10px;
	padding-right:4px;
	height:18px;
	text-align:center;
	background:url(/img/nav/03_navSeparator.png) no-repeat;
	background-position:0px 5px;
}
#nav-mobile li:first-child {
	background:none;
}
#nav-mobile a {
	color:#284955;
	line-height:18px;
}
#nav-mobile a.loginBtn {
	color:#D46C45;
}
*/
.imageHeaderWrapper {
	background-color:#d4d4d4; /* d4d4d4 */
	height:550px;
}
.imageHeader {
	padding-top: 20px;
	margin: auto;
	display: block;
	padding-right: 320px;
	opacity: 1;
}
.imageHeader:hover {
	opacity: 1;
}
.takipi-author-image {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
.dd_buttons {
	width: 960px;
	line-height: 18px;
}
.dd_button {
	width: 90px;
}
.dd_button:first-child {
	width: 94px;
}
.dd_button:nth-child(2) {
	width: 110px;
}
.post .entry-content {
	line-height: 32px;
}

#nav-mobile {
	display: none;
}

@media (min-width: 768px) {
	.userHolder {
		display: block;	
	}
	#nav-mobile {
		display: none;
	}
}

@media (max-width: 768px) {	
	#nav {
		display: none;
	}
	.userHolder {
		display: none;	
	}
	#nav-mobile {
		display: block;
	}

	.imageHeader {		
		padding-right: 0px;
	}

	.dd_buttons {
		width: 280px;
	}

	.navigationWrapper {
		height: 200px;
	}
}

@media(min-width: 500px) {
	.navigationWrapper {
		height: 300px;
	}

	.container {
		width: auto;
	}

	.span8 {
		width: auto;
	}
}

@media (max-width: 350px) {
	.imageHeaderWrapper {
		padding-top: 30px;
	}
}

@media (max-width: 1279px) {
	.container {
			padding-left: 6px;
			padding-right: 6px;
		}
}

@media (min-width: 1280px) {
	.navigation {
		width: 1220px;
	}

	.container {
		width: 1220px;	
	}

	.span8 {
		width: 900px;
	}
}