.helvetica{font-family:"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif}
.lato{font-family:'Lato',sans-serif;font-weight:400;-webkit-font-smoothing:antialiased}
.lato_black{font-family:'Lato',sans-serif;font-weight:900}
.lato_bold{font-family:'Lato',sans-serif;font-weight:700}
.lato_regular{font-family:'Lato',sans-serif;font-weight:500}
.monospace{font-family:"Monaco","Menlo","Consolas","Courier New",monospace !important}
@-webkit-keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
@-moz-keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
@-o-keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
@keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
.burnt_violet{color:#4d394b !important}
.burnt_violet_bg{background-color:#4d394b !important}
.ocean_teal{color:#4c9689 !important}
.ocean_teal_bg{background-color:#4c9689 !important}
.havana_blue{color:#2a80b9 !important}
.havana_blue_bg{background-color:#2a80b9 !important}
.pale_blue{color:#f1f7fa !important}
.pale_blue_bg{background-color:#f1f7fa !important}
.candy_red{color:#eb4d5c !important}
.candy_red_bg{background-color:#eb4d5c !important}
.indifferent_grey{color:#555459 !important}
.indifferent_grey_bg{background-color:#555459 !important}
.severe_grey{color:#3d3c40 !important}
.severe_grey_bg{background-color:#3d3c40 !important}
.dull_grey{color:#8b898f !important}
.dull_grey_bg{background-color:#8b898f !important}
.subtle_silver{color:#9e9ea6 !important}
.subtle_silver_bg{background-color:#9e9ea6 !important}
.cloud_silver{color:#babbbf !important}
.cloud_silver_bg{background-color:#babbbf !important}
.sky_blue{color:#439fe0 !important}
.sky_blue_bg{background-color:#439fe0 !important}
.slate_blue{color:#3d4b5b !important}
.slate_blue_bg{background-color:#3d4b5b !important}
.muddy_lilac{color:#937e91 !important}
.muddy_lilac_bg{background-color:#937e91 !important}
.moscow_red{color:#d00000 !important}
.moscow_red_bg{background-color:#d00000 !important}
.moscow_red_dark{color:#870000 !important}
.moscow_red_dark_bg{background-color:#870000 !important}
.mustard_yellow{color:#daa038 !important}
.mustard_yellow_bg{background-color:#daa038 !important}
.kelly_green{color:#36a64f !important}
.kelly_green_dark{color:#257337 !important}
.kelly_green_bg{background-color:#36a64f !important}
.seafoam_green{color:#2ab27b !important}
.seafoam_green_bg{background-color:#2ab27b !important}
.star_yellow{color:#fc0 !important}
.star_yellow_bg{background-color:#fc0 !important}
.highlight_yellow_bg{background-color:#fffce0 !important}
.mention_yellow_bg{background-color:#fff3b8 !important}
.dropbox_blue{color:#007ee5 !important}
.dropbox_blue_bg{background-color:#007ee5 !important}
.twitter_blue{color:#55acee !important}
.twitter_blue_bg{background-color:#55acee !important}
.warm_white{color:#fbfaf8 !important}
.warm_white_bg{background-color:#fbfaf8 !important}
.cloud_white{color:#f2f2f5 !important}
.cloud_white_bg{background-color:#f2f2f5 !important}
body{font-family:"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;text-rendering:optimizelegibility;-moz-osx-font-smoothing:grayscale}
h1,h2,h3,h4{font-weight:900;font-family:'Lato',sans-serif;color:#555459;-webkit-font-smoothing:antialiased;margin:0 0 1rem 0}
h1{font-size:1.8rem;line-height:2.3rem;letter-spacing:-1px}
h2{font-size:1.5rem;line-height:2rem}
h3{font-size:1.25rem;line-height:1.5rem}
h4{font-size:1rem;line-height:1.25rem;margin-bottom:.5rem}
h5{font-size:.75rem;font-weight:bold;margin-bottom:0;text-transform:uppercase}
p{margin:0 0 1rem 0}
p.heading{font-size:2rem;line-height:2.75rem;margin:2rem auto 2.5rem;max-width:85%;font-weight:300}
p.emphasized{font-size:1.2rem;line-height:1.5rem}
p.large_text{font-size:1.4rem;line-height:1.8rem}
p.small_text{font-size:.8rem;line-height:1rem}
h1 a,h1 a:link,h1 a:visited,h1 a:hover,h1 a:active{color:#555459}
a,a:link,a:visited{color:#2a80b9}
a:hover,a:active,a:focus{color:#439fe0}
li{line-height:1.5rem;margin:0}
ul.no_bullets{margin:0 0 2rem 0}
ul.no_bullets li{list-style-type:none;line-height:1.25rem;padding:0}
code{font-size:.72rem;white-space:normal;color:#c25;padding:1px 3px}
@media screen and (-webkit-min-device-pixel-ratio:0){code{padding-left:0;padding-right:0}
code:before,code:after{letter-spacing:-0.25rem;content:"\00a0"}
pre code:before,pre code:after{letter-spacing:normal;content:""}
}
pre{background:#fbfaf8;padding:.5rem;word-break:normal}
pre.special_formatting{margin:.5rem 0 .2rem 0;font-size:.75rem;line-height:1.15rem}
div.special_formatting_quote{margin:.25rem 0}
.bullet{color:#DDD}
blockquote{margin:0 0 .5rem 1rem;padding:0;border:0}
hr{border-top:1px solid #DDD}